.body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.leftside-table-buttons {
    border: 5px dashed black;
    height: 100%;
    width: 83%;
}

.top-button-row {
    border: 5px solid red;
    width: 99%;
    height: 5%;
    top: 0;
    left: 0;
}

.top-buttons {
    height: 100%;
    margin-right: 20px;
    margin-left: 3px;
}

.side-col-info {
    border: 5px solid blue;
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    height: 100vh;
}

.table {
    border: 5px solid yellow;
    position: fixed;
    display: block;
    left: 0;
    width: inherit;
    height: 95%;
    border-collapse: collapse;
    border-spacing: 0px;
    overflow: scroll;
    margin: 10px;
}

.cell-textarea {
    height: 100%;
    width: 100%;
    resize: none;
    text-align: left;
    /* padding-left: 2px; */
    border: none;
}

th, tr, td {
    border: 3px solid black;
    height: 50px;
    min-width: 200px;
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    height: 30px;
}

.list-header-table {
    position: relative;
    left: 33%;
    font-size: 2em;
}

.list-header-column {
    position: relative;
    left: 33%;
    top: 150px;
    font-size: 2em;
}

.table-list {
    position: relative;
    height: 30%;
    width: 100%;
    overflow-y: scroll;
}

.column-list {
    position: relative;
    top: 150px;
    height: 30%;
    width: 100%;
    overflow-y: scroll;
}

.side-list-button-table {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
}

.side-list-button-column {
    position: relative;
    top: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}